package partials

templ NavBar(){
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/snippet/create">Create Snippet</a></li>
        </ul>
    </nav>
}